# vim: ft=yaml
Checks: '*,-llvmlibc*,-modernize-use-trailing-return-type,-modernize-use-std-print,-cppcoreguidelines-pro-type-vararg,-hicpp-vararg,-cppcoreguidelines-avoid-magic-numbers,-readability-magic-numbers,-readability-identifier-length,-altera-id-*,-altera-unroll-loops,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-clang-diagnostic-unsafe-buffer-usage,-clang-diagnostic-c++98-compat-pedantic,-clang-diagnostic-c++20-compat,-fuchsia-overloaded-operator'
FormatStyle: file
SystemHeaders: false
